h1 {
    color: red;
}
#first-p {
    font-family: Arial, serif;
    color: green;
}
#second-p {
    font-family: Verdana, serif;
    color: red;
}
#third-p {
    font-family: "Courier New", serif;
    color: blue;
}
tr th { background: green; }
tr:first-child td { background: black; }
tr:nth-child(2) td { background: red; }

/*
 * Правила CSS нижче не вимагалися завданням лабораторної роботи,
 * проте були додані для кращого візуального сприйняття сторінки.
 */
body {
    background-color: wheat;
}
body > * {
    margin-left: 8%;
    margin-right: 8%;
}
a {
    padding: 10px;
    background: yellowgreen;
    border-radius: 8px;
}
a:hover {
    background-color: limegreen;
}
tr {
    color: white;
}
td, th {
    padding: 10px;
    text-align: center;
}
img[usemap="#kai-map"] {
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
